<header class="header">
  <div class="header-top">
    <img src="../assets/images/logo.jpg" alt="Logo" class="logo" />
    <h1 class="title">Customer Service Support System</h1>
    <!-- Mobile menu toggle button -->
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- Desktop navigation -->
  <nav>
    <ul>
      <li>
        <a href="../index.html" id="nav-home">
          <i class="fas fa-home-alt"></i> Home
        </a>
      </li>
      <li>
        <a href="../pages/summarization.html" id="nav-summarization">
          <i class="fas fa-file-alt"></i> Summarization
        </a>
      </li>
      <li>
        <a href="../pages/emotion_predictor.html" id="nav-emotion-predictor">
          <i class="fas fa-smile"></i> Emotion Predictor
        </a>
      </li>
      <li>
        <a href="../pages/disorder_predictor.html" id="nav-disorder-predictor">
          <i class="fas fa-brain"></i> Disorder Predictor
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Mobile sidebar navigation -->
  <div class="sidebar">
    <ul>
      <li>
        <a href="../index.html" id="nav-home">
          <i class="fas fa-home-alt"></i> Home
        </a>
      </li>
      <li>
        <a href="../pages/summarization.html" id="sidebar-summarization">
          <i class="fas fa-file-alt"></i> Summarization
        </a>
      </li>
      <li>
        <a href="../pages/emotion_predictor.html" id="sidebar-emotion-predictor">
          <i class="fas fa-smile"></i> Emotion Predictor
        </a>
      </li>
      <li>
        <a href="../pages/disorder_predictor.html" id="sidebar-disorder-predictor">
          <i class="fas fa-brain"></i> Disorder Predictor
        </a>
      </li>
    </ul>
  </div>
  <!-- Overlay for mobile -->
  <div class="overlay"></div>
</header>